.container {
  margin-left: 20px;
  margin-top: 20px;
  height: 150px;
  width: 400px;
  border-radius: 16px;
  display: flex;
  background: rgba(49, 49, 49, 0.288);
  box-shadow: 0px 5px 7px #00000081;

  .card {
    width: 80%;

    .data {
      display: flex;
      align-content: flex-end;
      margin-top: 15px;
      h1 {
        margin-left: 20px;
        font-size: 13px;
      }

      label {
        margin-left: 20px;
        font-size: 13px;
      }
    }
  }

  .cardButton {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid #6e6e6e88;

    .cardEdit {
      width: 50px;
      height: 50px;
      border: none;
      background-position: center;
      background-size: contain;
      background-image: url("../../assets/edit.png");

      &:hover {
        width: 55px;
        height: 55px;
      }

      button {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
      }
    }

    .cardExclude {
      width: 50px;
      height: 50px;
      border: none;
      background-position: center;
      background-size: contain;
      background-image: url("../../assets/exclude.png");

      &:hover {
        width: 55px;
        height: 55px;
      }

      button {
        width: 50px;
        height: 50px;
        background: none;
        border: none;
      }
    }
  }
}
